<!--
La tercera será una pantalla que muestre un catálogo con botones de compra o que permita la opción de compra, si el catálogo 
lleva a una cuarta pantalla que hace la compra me parece mejor pero con tres es suficiente.
-->


<!DOCTYPE html>
<html lang="es" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo</title>
    <link rel="stylesheet" href="../DesarrolloWeb/Estilos/styleCatalogo.css">
</head>
<body>

    <div class="conteiner">
        <h2>Catálogo de Venta</h2>
        <div class="foto">
            <img  src="../DesarrolloWeb/Img/BMW1200.jpg" alt="BMW 1200">
            <h3>BMW 1200</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto">
            <img src="../DesarrolloWeb/Img/Duke200.png" alt="DUKE 200">
            <h3>DUKE 200</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto" >
            <img src="../DesarrolloWeb/Img/Fz_25.jpg" alt="FZ 250">
            <h3>FZ 250</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto">
            <img src="../DesarrolloWeb/Img/Mt09.jpg" alt="MT 09">
            <h3>MT 09</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto">
            <img src="../DesarrolloWeb/Img/Mt10.jpg" alt="MT 10">
            <h3>MT 10</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto" >
            <img src="../DesarrolloWeb/Img/NMAX.jpg" alt="NMAX">
            <h3>NMAX</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto">
            <img src="../DesarrolloWeb/Img/XT660.jpg" alt="XT660">
            <h3>XT660</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

        <div class="foto" >
            <img src="../DesarrolloWeb/Img/XTZ250.webp" alt="XTZ 250">
            <h3>XTZ 250</h3>
            <p>100 COP</p>
            <button>Comprar</button>
        </div>

    </div>
</body>
</html>